.main-header {
    position: fixed;
    padding: 15px;
    width: 100%;
    color: #fff;
}

.header-content {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    border-bottom: 1px solid #8a8a8a;
    display: grid;
    grid-template-columns: 1fr .5fr;
}

.logo {
    font-size: 40px;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}